[Desktop Entry]
Type=Application
Exec=disk-password-change
Icon=qubes-key
Terminal=false
Name=Change Disk Password
GenericName=Change Disk Password
StartupNotify=false
Categories=Settings;X-XFCE-SettingsDialog;Qubes Tools
