.problem {
    background: @problem-background;
    color: @problem-text;
}

.flat_button {
    border-color: @medium-gray;
    font-weight: 500;
    margin: 5px;
    border-radius: 0px;
    color: @dark-text-color;
}

.button_save {
    background: @dark-blue;
    color: white;
}

.button_save:disabled {
    background: @medium-gray;
    color: @dark-gray;
}

.button_cancel {
    background: @button-color;
    color: @button-text-color;
}
